<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="IClone.ICloneImplementation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <IClone.ICloneImplementation.Properties.Settings>
            <setting name="DCSLastChoosenFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DCSLastChoosenFilesExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="UILanguage" serializeAs="String">
                <value>ru-RU</value>
            </setting>
            <setting name="DCSMemorizeLastRunParams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSWMemorizeLastRunParams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSWLastChoosenFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CSWLastChoosenEncoding" serializeAs="String">
                <value>1251</value>
            </setting>
            <setting name="CSWLastChoosenLanguage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CSWSkippingFolders" serializeAs="String">
                <value>$RECYCLE.BIN; System Volume Information; .svn; _svn; Config.Msi</value>
            </setting>
            <setting name="CSWIsUseParallelExtensions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CSWLastChoosenAlgorithm" serializeAs="String">
                <value>0</value>
            </setting>
        </IClone.ICloneImplementation.Properties.Settings>
    </userSettings>
</configuration>
