/stree_cpp/Debug
/stree_cpp/clone_search.lib/Debug
/stree_cpp/.vs
/stree_cpp/CppUnitLite/Debug
/stree_cpp/coco_common.lib/Debug
/stree_cpp/coco_cpp.lib/Debug
/stree_cpp/coco_cs.lib/Debug
/stree_cpp/filesystem.lib/Debug
/stree_cpp/Loki/src/Debug
/stree_cpp/i-clone/Debug
/stree_cpp/source_files/Debug
/stree_cpp/stree/Debug
/stree_cpp/stree_template.lib/Debug
*.user
.vs
/CodeLoadingLibrary/obj
/ICloneBaseLibrary/obj
/ICloneCodeCharacteristicsLibrary/obj
/bin
/NDeskOptionsParser/obj
/iSourceFilesLibrary/obj
/iDetectCodeSize/obj
/ICloneServices/obj
/iCloneSearchLibrary/obj
/iCloneReport/obj
/iCloneImplementation/obj
/Tests/ICloneTestProject/obj
/Tests/ICloneTestProject/bin
/Extensions/iCloneExtensions/obj
/Extensions/cs_iclone_ext/obj
/Extensions/cpp_iclone_ext/obj
/Extensions/CodeProfiler.Runtime/obj
/Extensions/CodeProfiler.Components/obj
/Extensions/CodeProfiler.CocoCS/obj
